<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loops</title>
    <style>
        .active {
            background-color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="i in 10">{{ i }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="product in products">{{ product }}</li>
        </ul>
        <ul>
            <li v-for="(task, index) in tasks" :class="{active: task.isActive}">
                {{ index }} - {{ task.id }} - {{ task.description }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                products: ['caneta', 'papel', 'lapis', 'borracha'],
                tasks: [
                    {id: 1, description: 'Lavar Louça', isActive: true},
                    {id: 2, description: 'Programar', isActive: false},
                    {id: 3, description: 'Jogar', isActive: false},
                    {id: 4, description: 'Lavar Roupa', isActive: true},
                ]
            }
        });
    </script>
</body>
</html>